# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

# Temporary files
*~
tmp/

# GNU Global files
GPATH
GRTAGS
GTAGS

# Copies of documentation
doc/ultra.wiki/
doc/doxygen/html/

# Personal files
.dir-locals-2.el
