name: Build and test all platforms

permissions:
  contents: read
  pull-requests: write

on:
  pull_request:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - .gitignore
  workflow_dispatch:

jobs:
  build-test:
    name: ${{matrix.config.name}}
    runs-on: ${{matrix.config.os}}
    strategy:
      fail-fast: false
      matrix:
        config:
        - {
            name: "ARM Ubuntu GCC Debug",
            build_type: "Debug",
            os: ubuntu-24.04-arm,
            shell: bash,
            generator: default,
            cc: "gcc-14", cxx: "g++-14"
          }
        - {
            name: "ARM Ubuntu GCC Release",
            build_type: "Release",
            os: ubuntu-24.04-arm,
            shell: bash,
            generator: default,
            cc: "gcc-14", cxx: "g++-14"
          }
        - {
            name: "ARM Ubuntu GCC TSan",
            build_type: "Release",
            os: ubuntu-24.04-arm,
            shell: bash,
            generator: default,
            cc: "gcc-14 -fsanitize=thread", cxx: "g++-14 -fsanitize=thread"
          }
        - {
            name: "ARM Windows MSVC Release",
            build_type: "Release",
            os: windows-11-arm,
            shell: powershell,
            generator: default,
            cc: "cl", cxx: "cl"
          }
        - {
            name: "Intel Ubuntu CLANG Debug",
            build_type: "Debug",
            os: ubuntu-latest,
            shell: bash,
            generator: default,
            cc: "clang", cxx: "clang++"
          }
        - {
            name: "Intel Ubuntu CLANG Release",
            build_type: "Release",
            os: ubuntu-latest,
            shell: bash,
            generator: default,
            cc: "clang", cxx: "clang++"
          }
        - {
            name: "Intel Ubuntu CLANG TSan",
            build_type: "Release",
            os: ubuntu-latest,
            shell: bash,
            generator: default,
            cc: "clang -fsanitize=thread", cxx: "clang++ -fsanitize=thread"
          }
        - {
            name: "Intel Ubuntu GCC Debug",
            build_type: "Debug",
            os: ubuntu-latest,
            shell: bash,
            generator: default,
            cc: "gcc-14", cxx: "g++-14"
          }
        - {
            name: "Intel Ubuntu GCC Release",
            build_type: "Release",
            os: ubuntu-latest,
            shell: bash,
            generator: default,
            cc: "gcc-14", cxx: "g++-14"
          }
        - {
            name: "Intel Ubuntu GCC TSan",
            build_type: "Release",
            os: ubuntu-latest,
            shell: bash,
            generator: default,
            cc: "gcc-14 -fsanitize=thread", cxx: "g++-14 -fsanitize=thread"
          }
        - {
            name: "Intel Windows MINGW Release",
            build_type: "Release",
            os: windows-latest,
            shell: cmd,
            generator: "MinGW Makefiles",
            cc: "gcc-14", cxx: "g++-14"
          }
        - {
            name: "Intel Windows MSVC Debug",
            build_type: "Debug",
            os: windows-latest,
            shell: powershell,
            generator: default,
            cc: "cl", cxx: "cl"
          }
        - {
            name: "Intel Windows MSVC Release",
            build_type: "Release",
            os: windows-latest,
            shell: powershell,
            generator: default,
            cc: "cl", cxx: "cl"
          }
        #- {
        #    name: "macOS GCC ",
        #    os: macos-latest,
        #    shell: bash,
        #    generator: default,
        #    cc: "gcc", cxx: "g++"
        #  }

    defaults:
      run:
        shell: ${{matrix.config.shell}}

    env:
      CC: ${{matrix.config.cc}}
      CXX: ${{matrix.config.cxx}}

    steps:
      - uses: actions/checkout@v4

      - name: Configure CMake (default generator)
        if: ${{matrix.config.generator == 'default'}}
        working-directory: ${{github.workspace}}
        run: cmake -DCMAKE_BUILD_TYPE=${{matrix.config.build_type}} -B build/ src/

      - name: Configure CMake (specific generator)
        if: ${{matrix.config.generator != 'default'}}
        working-directory: ${{github.workspace}}
        run: cmake -G"${{matrix.config.generator}}" -DCMAKE_BUILD_TYPE=${{matrix.config.build_type}} -B build/ src/

      - name: Build
        working-directory: ${{github.workspace}}
        run: cmake --build build/ --config ${{matrix.config.build_type}}

      - name: Test (ctest)
        if: ${{matrix.config.generator == 'default'}}
        working-directory: ${{github.workspace}}/build/test
        run: ctest --output-on-failure -C ${{matrix.config.build_type}}

      - name: Test (skip)
        if: ${{matrix.config.generator != 'default'}}
        run: echo "CTest skipped due to issues between doctest and MinGW"
